.sidebar {
  min-height: 100vh;
  padding: 25px !important;
}

.list-group-item {
  line-height: 50px !important;
  background: linear-gradient(to right, #FFDAB9, #FFA07A) !important;
  color: #333 !important;
}

.list-group-link {
  line-height: 100%;
}

.list-group-link:hover {
  background-color: rgba(255, 255, 255, 0.3) !important;
  background-image: linear-gradient(to right, #7FFFD4, #66CDAA) !important;
  border-radius: 10px !important;
}

.navbar {
  background: linear-gradient(to right, #FFDAB9, #FFA07A) !important;
  color: #333 !important;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.vh-100 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.text-center {
  margin-top: auto;
}

/* css for buttons { */
.button {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-family: inherit;
  color: #fff;
  width: 9em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
}

.button:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.button:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

.button:hover::before {
  filter: blur(20px);
}

.button:active {
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}

@media (max-width: 992px) {
  .sidebar {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .navbar-custom-links {
    display: none !important;
  }
}