/* Sidebar Styling */
.sidebar {
  background-image: linear-gradient(to right, #6A5ACD, #483D8B);
  min-height: 100vh;
  /* Use min-height to ensure it takes at least the full viewport height */
  padding: 25px !important;
}

.list {
  min-height: 100vh;
}

.list-group-item {
  line-height: 50px !important;
  background-image: linear-gradient(to right, #5F9EA0, #6A5ACD) !important;
  transition: background-color 0.3s ease-in-out;
  /* Add smooth transition effect */
}

.list-group-link {
  line-height: 100%;
}

.list-group-link:hover {
  background-color: rgba(255, 255, 255, 0.3) !important;
  background-image: linear-gradient(to right, #00FFFF, #5F9EA0, #6A5ACD) !important;
  border-radius: 10px !important;
}

/* Navbar Styling */
.navbar {
  background-image: linear-gradient(to right, #5F9EA0, #6A5ACD) !important;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.fade-in-out {
  transition: opacity 0.5s;
}

.fade-in-out.ng-enter,
.fade-in-out.ng-leave-to {
  opacity: 0;
}

.fade-in-out.ng-enter-to,
.fade-in-out.ng-leave {
  opacity: 1;
}

/* Content Styling */
.content {
  padding: 15px;
  /* Adjust padding as needed */
}

/* Footer Styling */
.vh-100 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.text-center {
  margin-top: auto;
}

/* Adjustments for better responsiveness */
@media (max-width: 767px) {
  .sidebar {
    position: fixed;
    /* Keep sidebar fixed on smaller devices */
    width: 100%;
    /* Full width for small devices */
  }

  .navbar {
    position: fixed;
    /* Keep navbar fixed at the top */
    width: 100%;
    /* Full width for small devices */
  }

  .content {
    margin-left: 0;
    /* Ensure content doesn't overlap with the fixed sidebar */
  }

  .mb-md-0 {
    margin-bottom: 0 !important;
  }

  .py-md-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }
}
/* css for buttons { */
  .button {
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 14px;
    font-family: inherit;
    color: #fff;
    width: 9em;
    height: 3em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
  }
  
  .button:hover {
    animation: ani 8s linear infinite;
    border: none;
  }
  
  @keyframes ani {
    0% {
      background-position: 0%;
    }
  
    100% {
      background-position: 400%;
    }
  }
  
  .button:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
  }
  
  .button:hover::before {
    filter: blur(20px);
  }
  
  .button:active {
    background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  }