<div class="container-fluid">
  <div class="row bg-dark text-light">
    <!-- Sidebar -->
    <div class="col-12 col-md-2 sidebar rounded shadow-lg mb-3 mb-md-0 d-none d-md-block" *ngIf="showSidebarAndNavbar">
      <!-- Sidebar Content -->
      <ul class="h4 list p-0 rounded">
        <!-- Logo -->
        <li class="list-group-item bg-dark text-light py-3 ">
          <a class="navbar-brand p-2 list-group-link" routerLink="/">
            <img src="../favicon.ico" alt="Profile" width="30" height="24" class="d-inline-block align-text-top">
          </a>
        </li>
        <!-- Navigation Items -->
        <!-- Employee -->
        <div class="" *ngIf="!isAdmin">
          <li *ngFor="let t of navItems" class="list-group-item bg-dark text-light py-3">
            <a class="rounded list-group-link nav-link p-2" [routerLink]="t.link">
              <fa-icon class="px-2" [icon]="t.icon"></fa-icon>
              {{ t.name }}
            </a>
          </li>
        </div>
        <!-- Admin -->
        <div class="" *ngIf="isAdmin">
          <li *ngFor="let t of navItemsAdmin" class="list-group-item bg-dark text-light py-3">
            <a class="rounded list-group-link nav-link p-2" [routerLink]="t.link">
              <fa-icon class="px-2" [icon]="t.icon"></fa-icon>
              {{ t.name }}
            </a>
          </li>
        </div>
        <!-- Logout Button -->
        <li *ngIf="isSignedIn" class="list-group-item bg-dark text-light py-3">
          <a class="rounded list-group-link nav-link p-2" [routerLink]="getLogout().link" (click)="logout()">
            <fa-icon class="px-2" [icon]="getLogout().icon"></fa-icon>
            {{ getLogout().name }}
          </a>
        </li>
        <li *ngIf="!isSignedIn" class="list-group-item bg-dark text-light py-3">
          <a class="rounded list-group-link nav-link p-2" [routerLink]="getLogout().link">
            <fa-icon class="px-2" [icon]="getLogout().icon"></fa-icon>
            {{ getLogout().name }}
          </a>
        </li>
      </ul>
    </div>
    <!-- Outlet -->
    <div class="col px-4 py-4">
      <!-- Navbar -->
      <nav class="navbar text-dark rounded navbar-expand-lg" *ngIf="showSidebarAndNavbar">
        <!-- Container for Navbar Content -->
        <div class="container-fluid">
          <!-- Navbar Brand -->
          <a class="navbar-brand" routerLink="/">L M S</a>
          <!-- Navbar Toggler Button -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Navbar Links -->
          <div class="collapse navbar-collapse navbar-custom-links" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto" *ngIf="!isAdmin">
              <!-- Navigation Items -->
              <ul class="navbar-nav ml-auto" *ngIf="!isAdmin">
                <li *ngFor="let t of navItems" class="nav-item">
                  <a class="nav-link" [routerLink]="t.link">
                    <fa-icon class="px-2" [icon]="t.icon"></fa-icon>
                    {{ t.name }}
                  </a>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto" *ngIf="isAdmin">
                <li *ngFor="let t of navItemsAdmin" class="nav-item">
                  <a class="nav-link" [routerLink]="t.link">
                    <fa-icon class="px-2" [icon]="t.icon"></fa-icon>
                    {{ t.name }}
                  </a>
                </li>
              </ul>

              <!-- Logout Button -->
              <li *ngIf="isSignedIn" class="nav-item">
                <a class="nav-link" [routerLink]="getLogout().link" (click)="logout()">
                  <fa-icon class="px-2" [icon]="getLogout().icon"></fa-icon>
                  {{ getLogout().name }}
                </a>
              </li>
              <li *ngIf="!isSignedIn" class="nav-item">
                <a class="nav-link" [routerLink]="getLogout().link">
                  <fa-icon class="px-2" [icon]="getLogout().icon"></fa-icon>
                  {{ getLogout().name }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Content Area -->
      <div>
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </div>
  </div>
</div>



<!-- Footer -->
<footer class="footer bg-dark text-light">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <!-- About Us -->
      <div class="col-md-6">
        <h5>About Us</h5>
        <p>We are Penta Hacktivists, a team of developers specializing in web, iOS, Android, and WearOS applications.
          Based at Darshan Institute of Engineering and Technology (DIET), we are third-year B.Tech students passionate
          about delivering high-quality projects.</p>
        <p>Connect with us on social media:</p>
        <div class="social-links">
          <ul class="list-group">
            <li class="list-group-item"><a href="https://www.linkedin.com/in/prit/" target="_blank"
                class="social-link"><i class="fab fa-linkedin"></i></a> PRIT</li>
            <li class="list-group-item"><a href="https://www.linkedin.com/in/rajvi/" target="_blank"
                class="social-link"><i class="fab fa-linkedin"></i></a> RAJVI</li>
            <li class="list-group-item"><a href="https://www.linkedin.com/in/urvashi/" target="_blank"
                class="social-link"><i class="fab fa-linkedin"></i></a> URVASHI</li>
            <li class="list-group-item"><a href="https://www.linkedin.com/in/meet/" target="_blank"
                class="social-link"><i class="fab fa-linkedin"></i></a> MEET</li>
            <li class="list-group-item"><a href="https://www.linkedin.com/in/bhargav/" target="_blank"
                class="social-link"><i class="fab fa-linkedin"></i></a> BHARGAV</li>
          </ul>
        </div>
      </div>
      <!-- Contact Us -->
      <div class="col-md-6">
        <h5>Contact Us</h5>
        <p>Darshan Institute of Engineering and Technology (DIET)</p>
        <p>Rajkot-Morbi Highway, At Post Hadala, Rajkot, Gujarat 360311, India</p>
        <p>Email: contact&#64;pentahacktivists.com</p>
      </div>
    </div>
    <div class="row mt-4">
      <!-- Footer Credits -->
      <div class="col-md-12 text-center">
        <p>&copy; <span id="footer-year"></span> Penta Hacktivists. Created with <i class="fa fa-heart text-danger"
            aria-hidden="true"></i> by Prit, Rajvi, Urvashi, Meet, and Bhargav.</p>
        <p>Darshan University, December 23 Workshop. Angular SPA for Leave Management System.</p>
      </div>
    </div>
  </div>
</footer>