
.calendar-container {
background: linear-gradient(45deg, #f9f9f9af, #ffeeddd6);

}
.fc-event {
    background: palevioletred;
    color: white;
    /* Text color */
    border-radius: 5px;
    /* Rounded corners */
    padding: 5px;
    /* Adjust padding as needed */
}

.fc-event-birthday:before {
    content: '\1F382';
    /* Birthday cake emoji */
    margin-right: 5px;
    /* Add space between emoji and text */
}
.full-calendar-header {
    background-color: #f5f5f5;
}